{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"><strong>{{ title }}</strong></h1>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                </div>
                <div class="card-body">
                    <form method="GET" action="{% url 'ekspor_angkutan' %}">
                        <div class="form-group">
                            <label for="type">Format Ekspor:</label>
                            <select name="type" class="form-control">
                                <option value="excel">Excel</option>
                                <option value="pdf">PDF</option>
                            </select>
                        </div>
                    
                        <button type="submit" class="btn btn-primary"><i class="fa fa-download"></i> Download</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
