{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- Content Row -->
  <div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"><strong>STATISTIK PENUMPANG PERBULAN</strong></h1>
    </div>

     <!-- Content Row -->
     <div class="row">
        <div class="col-xl-6 col-lg-6">
            <!-- Penumpang Perbulan Bar Chart -->
            <div class="card shadow mb-12">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">{{ title }}</h6>
                </div>
                <div class="card-body">
                    <div class="chart-bar">
                        <canvas id="penumpangPerBulanChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'bootsrap/js/chart_penumpang_perbulan.js' %}"></script>
<!-- <script src="{% static 'bootsrap/js/demo/chart-bar-demo.js' %}"></script> -->
{% endblock %}