{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>SiRaja - {{title}}</title>
        {% include 'siraja-master/style.html' %}
        <link rel="stylesheet" href="{% static 'siraja-master/css/tabel_jadwal.css' %}">
    <body>

         {% include 'siraja-master/navbar.html' %}

         
         <!-- jadwal Start -->
<div class="container-fluid team py-5">
    <div class="container py-5">
            <div class="panel">
                <div class="header-images">
                    <!-- Gambar Kiri -->
                    <img src="{% static 'bootsrap/img/logo/logoBeltim.png' %}" alt="logoBeltim.png">
                    <!-- Judul Tengah -->
                    <div>
                        <h1 class="display-5 header-text">{{title}}</h1>
                        <h2 class="header-text">TERMINAL MANGGAR</h2>
                    </div>
                    <!-- Gambar Kanan -->
                    <img src="{% static 'siraja-master/img/LOGO_KEMENTERIAN_PERHUBUNGAN_REPUBLIK_INDONESIA.png' %}" alt="Logo Kanan">
                </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-offset-1 col-md-12">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col col-sm-3 col-xs-12">
                                                <h4 class="title"> <span>Angkutan</span></h4>
                                            </div>
                                            <div class="col-sm-9 col-xs-12 text-right">
                                                <div class="btn_group">
                                                    <form action="." method="get">
                                                        <input type="text" name="a" class="form-control" placeholder="Search" value="{{query}}">
                                                        <button class="btn btn-default" type="submit">Cari</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body table-responsive">
                                        <table class="table">
                                            <thead class="header-title">
                                                <tr>
                                                    <th style="color:#00458a; font-weight: bold;">No</th>
                                                    <th style="color:#00458a; font-weight: bold;">Nama Sopir</th>
                                                    <th style="color:#00458a; font-weight: bold;">Jenis Angkutan</th>
                                                    <th style="color:#00458a; font-weight: bold;">Plat Nomor</th>
                                                    <th style="color:#00458a; font-weight: bold;">Asal</th>
                                                    <th style="color:#00458a; font-weight: bold;">Tujuan</th>
                                                    <th style="color:#00458a; font-weight: bold;">Tarif</th>
                                                    <th style="color:#00458a; font-weight: bold;">Telepon/ wa</th>
                                                </tr>
                                            </thead>
                                            <tbody class="header-text">
                                                {% for angkutan in page_obj %}
                                                <tr>
                                                    <td>{{ forloop.counter0|add:page_obj.start_index }}</td>
                                                    <td>{{ angkutan.nama_sopir }}</td>
                                                    <td>{{ angkutan.jenis_angkutan }}</td>
                                                    <td>{{ angkutan.plat_nomor }}</td>
                                                    <td>{{ angkutan.id_rute.asal }}</td>
                                                    <td>{{ angkutan.id_rute.tujuan }}</td>
                                                    <td>Rp{{ angkutan.tarif }}</td>
                                                    <td>
                                                        <a class="btn btn-success" href="https://wa.me/+62{{ angkutan.telepon }}" target="_blank"><i class="fab fa-whatsapp-square"></i> {{ angkutan.telepon }}</a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="panel-footer">
                                        <div class="row">
                                            <div class="col col-sm-6 col-xs-6">showing <b>{{ angkutan_count }}</b> entries</div>
                                            <div class="col-sm-6 col-xs-6">
                                                <ul class="pagination hidden-xs pull-right">
                        
                                                    {% for num in page_obj.paginator.page_range %}
                                                        {% if page_obj.number == num %}
                                                            <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                                                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                                            <li class="page-item"><a class="page-link" href="?page={{ num }}{% if query %}&j={{ query }}{% endif %}">{{ num }}</a></li>
                                                        {% endif %}
                                                    {% endfor %}
                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <!-- jadwal End -->
          

       
        {% include 'login.html' %}

        
       {% include 'siraja-master/footer.html' %}

        {% include 'login.html' %}
        <!-- Back to Top -->
        <a href="#" class="btn btn-primary btn-lg-square rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>   

            {% include 'siraja-master/javascript.html' %}

    </body>
</html>