<!-- modal hapus -->
<div class="modal" tabindex="-1" id="hapus-{{ terminal.id_terminal }}" aria-labelledby="hapusLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 500px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Hapus</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 style="align-items: center;">Apakah anda yakin ingin menghapus <strong style="color: crimson;">{{ terminal.nama_terminal | upper }}</strong>?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>     
                <a href="{% url 'hapus_terminal' terminal.id_terminal %}" class="btn btn-danger">hapus</a>
            </div>
        </div>
    </div>
</div>