{% extends 'base.html' %}

{% block content %}  
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800"><strong>DATA KIOS</strong></h1>
         <!-- search -->
         <form method="GET" action="{% url 'data_kios' %}" class="form-inline mb-3">
            <input type="text" class="form-control mr-sm-2" name="k" placeholder="Search..." value="{{ query }}">
            <button type="submit" class="btn btn-secondary"><i class="fa fa-search"></i> Search</button>
        </form>

    </div>
    <!-- Content Row -->
    <div class="container-fluid">
    
        <div class="row">
            <div class="col-lg-12 mb-4">
                <!-- Illustrations -->
                <div class="card shadow mb-4">
                <div class="card-header py-3">
                <a href="" class="btn btn-primary" data-toggle="modal" data-target="#modalTambah">
                    <i class="fas fa-plus"></i> Tambah data</a> 
                </div>
                <div class="card-body">
                <div class="container-fluid">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr style="text-transform: uppercase;">
                                <th scope="col">No</th>
                                <th scope="col">Kios</th>
                                <th scope="col">Terminal</th>
                                <th scope="col">Lokasi</th>
                                <th scope="col">Aksi</th>
    
                                </tr>
                            </thead>
                           
                            <tbody>
                                {% for data in data_kios %}
                                <tr>
                                <td>{{ forloop.counter0|add:page_obj.start_index }}</td>
                                <td>{{data.nama_kios}}</td>
                                <td>{{data.nama_terminal}}</td>
                                <td>{{data.lokasi}}</td>
                                <td>
                                <a href="" class="btn btn-success" data-toggle="modal" data-target="#ubah-{{ data.id_kios }}"><i class="fa fa-edit"></i></a>                       
                                <a href="" class="btn btn-danger" data-toggle="modal" data-target="#hapus-{{ data.id_kios }}"><i class="fa fa-trash"></i></a>                          
                                </td>
                                </tr>
                              {% include 'kios/ubah_kios.html' %}
                              {% include 'kios/hapus_kios.html' %}

                               
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- Pagination controls -->
                    <div class="d-flex justify-content-justify">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if query %}&q={{ query }}{% endif %}">Previous</a></li>
                                {% else %}
                                    <li class="page-item disabled"><span class="page-link">Previous</span></li>
                                {% endif %}
                
                                {% for num in page_obj.paginator.page_range %}
                                    {% if page_obj.number == num %}
                                        <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                        <li class="page-item"><a class="page-link" href="?page={{ num }}{% if query %}&q={{ query }}{% endif %}">{{ num }}</a></li>
                                    {% endif %}
                                {% endfor %}
                
                                {% if page_obj.has_next %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}{% if query %}&q={{ query }}{% endif %}">Next</a></li>
                                {% else %}
                                    <li class="page-item disabled"><span class="page-link">Next</span></li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                    <!-- End of Pagination controls -->
                    </div>
                </div>
                </div>
        
            </div>
        </div>
    </div>
    
    <!-- /.container-fluid -->
{% include 'kios/tambah_kios.html' %}

{% endblock %}
